{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <p> Votre espace interpupillaire est de {{user.espaceInterpupillaire}} mm</p>
    </div>
{% endblock %}
